<!-- check for a valid gallery -->
<span ng-switch="galleryDetail.isGallery" ng-controller="GalleryDetailCtrl as galleryCtrl">
  <span ng-switch-when="true">

<!-- Update Metatags -->
<view-title ng-bind="galleryDetail.metaTitle"></view-title>
<meta view-head name="description" content="{{galleryDetail.metaDescription}}" />
<meta view-head name="keywords" content="{{galleryDetail.metaKeywords}}" />
<meta view-head property="og:title" content="{{galleryDetail.metaTitle}}" />
<meta view-head property="og:description" content="{{galleryDetail.metaDescription}}" />
<meta view-head property="og:url" content="https://www.bergauf.ch/#{{galleryDetail.gallery.path}}" />
<link view-head rel="canonical" href="https://www.bergauf.ch/#{{galleryDetail.gallery.path}}" />

<!-- Page Heading -->

<h1 class="page-header">{{galleryDetail.gallery.name}} <small>{{galleryDetail.gallery.altitudeLabel}}</small></h1>

<ul class="list-inline">
  <li ng-if="galleryDetail.gallery.country">
    <i class="fa fa-globe fa-fw fa-lg"></i>
    <a href="#/bildergalerien-nach-laender/{{galleryDetail.gallery.country}}">{{galleryDetail.gallery.country | convertIdToProperty:galleryDetail.tags:'countries':'name'}}</a>
    <span ng-if="galleryDetail.gallery.region"> - <a href="#/bildergalerien-nach-region/{{galleryDetail.gallery.region}}">
      {{galleryDetail.gallery.region | convertIdToProperty:galleryDetail.tags:'regions':'name'}}</a></span>
  </li>
  <li ng-if="galleryDetail.gallery.date">
    <i class="fa fa-calendar fa-fw fa-lg"></i>
    <span ng-if="galleryDetail.gallery.dateStart">{{galleryDetail.gallery.dateStart | date:'dd.MM. - '}}</span>
    {{galleryDetail.gallery.date | date:'dd.MM.yyyy'}}
  </li>
  <li ng-if="galleryDetail.gallery.activity">
    <ul class="list-inline list-inline_tags">
      <li ng-repeat="activity in galleryDetail.gallery.activity">
        <i class="fa fa-tag fa-fw fa-lg"></i>
        <a href="#/bildergalerien-nach-outdoor-aktivitaet/{{activity}}">{{activity | convertIdToProperty:galleryDetail.tags:'activities':'name'}}</a>
      </li>
    </ul>
  </li>
</ul>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="bergauf-gallery center-block" >
          <div class="figure" data-trigger="hover"
                 data-title="{{galleryDetail.cartButtonTooltip}}"
                 data-placement="bottom" bs-tooltip>
            <button type="button" class="btn btn-primary btn-cart" ng-click="galleryCtrl.addToCart()" ng-disabled="!globals.currentUser"><i class="fa fa-cart-plus fa-fw fa-lg"></i> {{galleryDetail.gallery.name}} Galerie in den Warenkorb</button>
          </div><span class="gallery" itemscope itemtype="http://schema.org/ImageGallery"><figure ng-repeat="image in galleryDetail.galleryImages" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{galleryDetail.serverUrl.data}}{{galleryDetail.gallery.path}}/{{image.filename}}" itemprop="contentUrl" data-size="{{image.width}}x{{image.height}}">
              <img ng-src="{{galleryDetail.serverUrl.data}}/thumbnails{{galleryDetail.gallery.path}}/{{image.filename}}" fallback-src="{{'/images/thumbnails/placeholder.jpg'}}" itemprop="thumbnail" alt="{{image.alt}}" />
            </a>
            <figcaption itemprop="caption description">{{image.description}}</figcaption>
          </figure></span><div class="figure" data-trigger="hover"
                               data-title="{{galleryDetail.cartButtonTooltip}}"
                               data-placement="bottom" bs-tooltip>
          <button type="button" class="btn btn-primary btn-cart" ng-click="galleryCtrl.addToCart()" ng-disabled="!globals.currentUser"><i class="fa fa-cart-plus fa-fw fa-lg"></i> {{galleryDetail.gallery.name}} Galerie in den Warenkorb</button>
          <div>
        </div>

        <!-- ToDo: remove this fallback whenever all images are available -->
        <div ng-if="!galleryDetail.galleryImages" class="bergauf-gallery center-block" itemscope itemtype="http://schema.org/ImageGallery">
          <figure itemscope itemtype="http://schema.org/ImageObject">
            <a href="/images/placeholder.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/images/thumbnails/placeholder.jpg" itemprop="thumbnail" alt="Platzhalter Bild 1" />
            </a>
            <figcaption itemprop="caption description">Platzhalter für die Bildbeschreibung Bild 1</figcaption>
          </figure>
          <figure itemscope itemtype="http://schema.org/ImageObject">
            <a href="/images/placeholder.jpg" itemprop="contentUrl" data-size="600x400">
              <img src="/images/thumbnails/placeholder.jpg" itemprop="thumbnail" alt="Platzhalter Bild 2" />
            </a>
            <figcaption itemprop="caption description">Platzhalter für die Bildbeschreibung Bild 2</figcaption>
          </figure>
        </div>
        <!-- end tmp. fallback -->

      </div>
    </div>

  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<span class="photoswipe"></span>

<hr>
<ul class="list-inline">
  <li>Verwandte Galerien</li>
  <li ng-if="galleryDetail.gallery.country">
    <i class="fa fa-globe fa-fw fa-lg"></i>
    <a href="#/bildergalerien-nach-laender/{{galleryDetail.gallery.country}}">
      {{galleryDetail.gallery.country | convertIdToProperty:galleryDetail.tags:'countries':'name'}}</a>
    <span ng-if="galleryDetail.gallery.region"> - <a href="#/bildergalerien-nach-region/{{galleryDetail.gallery.region}}">
      {{galleryDetail.gallery.region | convertIdToProperty:galleryDetail.tags:'regions':'name'}}</a></span>
  </li>
  <li ng-if="galleryDetail.gallery.activity">
    <ul class="list-inline list-inline_tags">
      <li ng-repeat="activity in galleryDetail.gallery.activity">
        <i class="fa fa-tag fa-fw fa-lg"></i>
        <a href="#/bildergalerien-nach-outdoor-aktivitaet/{{activity}}">{{activity | convertIdToProperty:galleryDetail.tags:'activities':'name'}}</a>
      </li>
    </ul>
  </li>
</ul>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Background of PhotoSwipe.
       It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

    <!-- Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">

      <div class="pswp__top-bar">

        <!--  Controls are self-explanatory. Order can be changed. -->

        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader__active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>

      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>

      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>

    </div>

  </div>

</div>


  </span>
  <!-- display 'gallery not found' error for non valid url's -->
  <span ng-switch-default>
    <div class="jumbotron">
      <h1>Keine Bildergalerie gefunden.</h1>
      <h2>Versuche es mit einer Suche auf der Startseite.</h2>
      <p><a class="btn btn-primary btn-lg" href="/#home" role="button">Zurück zur Startseite</a></p>
    </div>
  </span>
</span>
