.bergauf-gallery {
  width: 100%;
  float: left;
  padding-top: 20px;
}

.bergauf-gallery img {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.bergauf-gallery figure, .bergauf-gallery .figure {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  margin: 0 2% 2% 0;
  width: 41.5%;
  /* Small devices */
  @media screen and (min-width: 640px) {
    width: 27.0%;
  }
  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    width: 22.0%;
  }
  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    width: 20.5%;
  }
  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    width: 17.0%;
  }
}

.bergauf-gallery figcaption {
  display: none;
}

.btn-cart {
  width: 160px;
  height: 107px;
  padding: 6px 6px;
  white-space: normal;
  word-wrap:break-word;
  @media screen and (max-width: 768px) {
    width: 158px;
  }
  @media screen and (max-width: 412px) {
    width: 143px;
    height: 96px;
  }
  @media screen and (max-width: 360px) {
    width: 120px;
    height: 80px;
  }
}

/* photoswipe ui overlay */
.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    text-align: center;
    max-width: 600px;
  }
}

/* fix for js error mesage in firefox */
.pswp__zoom-wrap {
  will-change: auto !important;
  -webkit-backface-visibility: visible !important;
}
