
<!-- Update Metatags -->
<view-title>Willkommen beim Outdoor Photoblog bergauf.ch</view-title>
<meta view-head name="description" content="Outdoor Photo-Blog zu den Themen Skiouren, Bersteigen, MTB und Reisen" />
<meta view-head name="keywords" content="Outdoor, Photo, Blog, Skitouren, Bersteigen, MTB, Reisen" />
<meta view-head property="og:title" content="Willkommen beim Outdoor Photoblog bergauf.ch" />
<meta view-head property="og:description" content="Outdoor Photo-Blog zu den Themen Skiouren, Bersteigen, MTB und Reisen" />

  <h1>
    <button type="button" class="btn btn-default btn-lg btn-block" data-title="Suchen & Filtern"
        data-content-template="home/views/search.tpl.html"
        data-animation="am-slide-right"
        data-controller-as="home"
        bs-aside="aside"
        data-container="body">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suchen & Filtern
    </button>
  </h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <h3 class="search-hits">Bildergalerien: {{filteredGalleries.length}}</h3>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <h2 class="search-filter">Suchfilter: {{home.query}} {{home.activity}} {{home.country}}</h2>
  </div>
</div>

<div class="row">
  <div ng-repeat="gallery in filteredGalleries = (home.galleries | orderBy:'-date' | filter:home.query | filter:home.activity:true | filter:home.country:true)" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <gallery-thumbnail gallery="{{gallery}}"></gallery-thumbnail>
  </div>
</div>
