<!-- Update Metatags -->
<view-title>Willkommen beim Outdoor Photoblog bergauf.ch</view-title>
<meta view-head name="description" content="Outdoor Photo-Blog zu den Themen Skitouren, Bersteigen, MTB und Reisen" />
<meta view-head name="keywords" content="Outdoor, Photo, Blog, Skitouren, Bersteigen, MTB, Reisen" />
<meta view-head property="og:title" content="Willkommen beim Outdoor Photoblog bergauf.ch" />
<meta view-head property="og:description" content="Outdoor Photo-Blog zu den Themen Skitouren, Bersteigen, MTB und Reisen" />
<div class="row search">
  <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 form-group input-group-lg">
    <label for="search-input"><i class="fa fa-search fa-lg"></i></label>
    <input class="form-control search-input" type="text" placeholder="Suchen..." ng-model="home.query"
           ng-model-options="{debounce:500}" id="search-input" />
    <a id="search-clear" ng-click="search-input.$rollbackViewValue(); home.query=''" class="search-clear fa fa-times-circle fa-lg show"></a>
  </div>
  <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-default btn-lg btn-block" data-title="Filtern / Suchen"
        data-template-url="home/views/searchfilters.tpl.html"
        data-animation="am-slide-right"
        data-controller-as="home"
        bs-aside="aside"
        data-container="body">
      <i class="fa fa-sliders fa-fw fa-lg"></i><span class="hidden-xs"> Filtern</span></button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <p class="search-filter" ng-if="home.query || home.activity || home.country  || home.region">
      Suchfilter:
      <span ng-if="home.activity">"{{home.activity | convertIdToProperty:home.tags:'activities':'name'}}"</span>
      <span ng-if="home.country">"{{home.country | convertIdToProperty:home.tags:'countries':'name'}}"</span>
      <span ng-if="home.region">"{{home.region | convertIdToProperty:home.tags:'regions':'name'}}"</span>
      {{home.query}}
    </p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p class="search-hits">Bildergalerien: {{filteredGalleries.length}} von {{home.galleries.length}}</p>
  </div>
</div>

<h1 class="sr-only">Zu den Bildergalerien der Skitouren, Bergtouren, MTB-Touren und Reisen</h1>
<div class="row">
  <div ng-repeat="gallery in filteredGalleries = (home.galleries | orderBy:'-date' | filter:home.query | filter:home.activity:true | filter:home.country:true  | filter:home.region:true) track by gallery.path" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <gallery-thumbnail gallery="{{gallery}}"></gallery-thumbnail>
  </div>
</div>
