$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-normal: 100%;
$font-size-big: 110%;
$font-size-bigger: 120%;
$font-weight-bold: 700;
$font-weight-normal: 400;

body {
  font-family: $font-family;
  margin: 0;
}

/* breadcrumb styles */
.breadcrumb {
  margin-top: 20px;
  margin-bottom: 0px;
}

.breadcrumb>li+li:before {
  padding: 0 3px;
  content: "\203A";
}

/* navigation styles */
.navbar {
  position: relative;
  margin-bottom: 2px;
  border: 1px solid transparent;
}

.navbar-text {
  margin-left: 0px;
}

.navbar-brand {
  padding: 15px 0px 15px 15px;
}

.navbar-default .navbar-collapse {
  border: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #333;
  background-color: #E7E7E7;
}

/* search styles */
.search {
  padding-top: 20px;
}

.search-hits {
  padding-top: 10px;
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
}

.search-filter {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
}

/* footer styles */
footer {
  padding-top: 50px;
}

/* index with thumbnail styles */
.thumbnail {
  display: block;
  padding: 0px;
  margin-bottom: 30px;
  min-height: 200px;
  line-height: 1.428571429;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.index {
  max-width: 160px;
}

.index .header {
  min-height: 60px;
}

p.small {
  margin: 0px;
}

/* social sharing styles */
a i.fa {
  padding-right: 10px;
}

.list-social-icons li {
  padding-right: 10px;
}

/* aside modal styles */
.aside {
  opacity: 0.8;
  min-width: 400px;
}

.aside-body .aside-title {
  padding-bottom: 20px;
}

/* special media styles */
@media(max-width:767px) {
  h1, .h1 {
    font-size: 24px;
  }
  h2, .h2 {
    font-size: 18px;
  }
  h3, .h3 {
    font-size: 18px;
  }
  h4, .h4 {
    font-size: 14px;
  }
  .page-header {
    margin: 20px 0 20px;
  }
  .thumbnail {
    min-height: 160px;

  }
  .trim-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .breadcrumb li.active {
    max-width: 250px;
  }

  .list-social-icons li {
    padding-bottom: 15px;
    padding-right: 0px;
    min-width: 120px;
  }

  .search-filter {
    margin-top: 0px;
    padding-bottom: 20px;
  }

  .aside {
    max-width: 300px;
    min-width: 200px;
  }

}


