$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-normal: 100%;
$font-size-big: 110%;
$font-size-bigger: 120%;
$font-weight-bold: 700;
$font-weight-normal: 400;

.media {
  min-height: 160px;
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.media-body {
  padding-left: 20px;
  padding-right: 20px;
}

.media-heading {
  font-size: $font-size-bigger;
  font-weight: $font-weight-bold;
  margin: 0 0 10px;
}

.media-heading--small {
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
}

@media(max-width: 767px) {

  .media {
    min-height: 80px;
  }

  .media-left img, {
    width: 80px;
    height: 60px;
  }

  .media-heading {
    font-size: $font-size-big;
    margin: 0 0 5px;
  }

}
