$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-normal: 100%;
$font-size-big: 110%;
$font-size-bigger: 120%;
$font-weight-bold: 700;
$font-weight-normal: 400;
$img-width-normal: 160px;
$img-width-small: 80px;
$img-height-normal: 120px;
$img-height-small: 60px;

.media {
  min-height: 160px;
  @media (max-width: 767px) {
    min-height: 80px;
  }
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.media-left {
  width: $img-width-normal;
  height: $img-height-normal;
  @media(max-width: 767px) {
      width: $img-width-small;
      height: $img-height-small;
    }

}

.media-object {
  width: $img-width-normal;
  height: $img-height-normal;
  @media(max-width: 767px) {
    width: $img-width-small;
    height: $img-height-small;
  }

}

.media-body {
  padding-left: 20px;
  padding-right: 20px;
}

.media-heading {
  font-weight: $font-weight-bold;
  font-size: $font-size-bigger;
  margin: 0 0 10px;
  @media (max-width: 767px) {
    font-size: $font-size-big;
  }
}

.media-heading--small {
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  @media (max-width: 767px) {
    margin-bottom: 5px;
  }

}

.page-header-collections {
  margin-bottom: 50px;
}
