<!-- Update Metatags -->
<view-title>{{home.title}}</view-title>
<meta view-head name="description" content="Übersicht zu den '{{home.title}}' Fotoalben auf bergauf.ch" />
<meta view-head name="keywords" content="{{home.title}}, Photoblog, Outdoor, Bergbilder, Bergsteigen, Alpinismus, Reisen" />
<meta view-head property="og:title" content="{{home.title}}" />
<meta view-head property="og:description" content="{{home.title}} - Übersicht zu den Fotogalerien" />
<meta view-head property="og:url" content="http://www.bergauf.ch/#{{home.themeFilter}}" />
<link view-head rel="canonical" href="http://www.bergauf.ch/#{{home.themeFilter}}" />

<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{home.title}}</h1>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <h2><input class="form-control" type="text" placeholder="Nach Titel filtern" ng-model="home.query.name" /></h2>
  </div>
</div>

<div class="row">
  <div ng-repeat="gallery in home.galleries | orderBy:'-sortDate' | filter:home.query | activity:home.themeFilter" class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
    <div class="thumbnail">
      <div class="index center-block">
        <div class="header">
          <a title="{{home.title}}: {{gallery.name}}" href="#{{gallery.path}}">{{gallery.name}}</a>
          <p class="small">{{gallery.country}} - {{gallery.region}}</p>
          <p class="small"><span ng-if="gallery.dateStart">{{gallery.dateStart}} - </span>{{gallery.date}}</p>
        </div>
        <a href="#{{gallery.path}}"><img class="img-responsive" ng-src="/images{{gallery.icon}}" alt="" height="120" width="160" /></a>
      </div>
    </div>
  </div>
</div>
