.profile .profile-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;

}

.profile .profile-subheader {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

.profile .list-unstyled li {
  padding-bottom: 9px;
}
