# Mac
.DS_Store

# Win
Thumbs.db
ehthumbs.db

#IntelliJ
.idea

#yeoman
# node_modules
node_modules
report
coverage
build
tmp

# Log files
*.log

#bower_components
bower_components

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Generated JS from TypeScript
*/app/*.js
static/*.js
*.js.map


# static
server/static*

# data
server/data*
