<div class="thumbnail">
  <div class="index center-block">
    <div class="header">
      <a title="Weiter zu der {{galleryObj.name}} Bildergalerie" href="#{{galleryObj.path}}">{{galleryObj.name}}</a>
      <p class="small">{{galleryObj.country}}<span ng-if="galleryObj.region"> - {{galleryObj.region}}</span></p>
      <p class="small"><span ng-if="galleryObj.dateStart">{{galleryObj.dateStart | date:'dd.MM. - '}}</span>
        {{galleryObj.date | date:'dd.MM.yyyy'}}</p>
    </div>
    <a href="#{{galleryObj.path}}"><img class="img-responsive" ng-src="/images{{galleryObj.icon}}" alt="" height="120" width="160" /></a>
  </div>
</div>
