<!DOCTYPE html>
<html lang="de" data-ng-app="spaBergaufDotCh" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title ng-bind-template="{{viewTitle}}">bergauf.ch</title>
    <meta name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="all" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_CH" />
    <meta property="og:site_name" content="bergauf.ch" />
    <link href="https://plus.google.com/104173602900161889722/" rel="publisher" />
    <link title="bergauf.ch News" href="http://feeds.feedburner.com/bergauf" type="application/rss+xml" rel="alternate" />
    <!-- inject:head:js -->
    <!-- endinject -->
    <!-- inject:html -->
    <!-- endinject -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>

    <!-- Navigation -->
    <div class="navbar navbar-inverse" role="navigation" data-bs-navbar>
      <div class="container" data-bs-collapse data-start-collapsed="true">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#/" data-match-route='/home'>
            <span>bergauf.app</span>
            <!--span class="hidden-xs">bergauf.app</span>--
            <!--span class="visible-xs glyphicon glyphicon glyphicon-home" aria-hidden="true"></span-->
            <!--span class="sr-only">Home</span--></a>
          <button type="button" class="navbar-toggle" data-bs-collapse-toggle>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" data-bs-collapse-target>
          <ul class="nav navbar-nav pull-left">
            <li data-match-route="/skitouren$"><a href="#/skitouren" data-bs-collapse-toggle>Skitouren</a></li>
            <li data-match-route="/bergtouren$"><a href="#/bergtouren" data-bs-collapse-toggle>Bergtouren</a></li>
            <li class="dropdown" data-match-route="/exped.*">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Reisen <i class="fa fa-caret-down fa-fw"></i></a>
              <ul class="dropdown-menu">
                <li data-match-route="/exped/reise-nach-kuba">
                  <a href="#/exped/reise-nach-kuba" data-bs-collapse-toggle>Kuba</a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="dropdown-header">Ski-Reisen</li>
                <li data-match-route="/exped/skitouren-im-iran">
                  <a href="#/exped/skitouren-im-iran" data-bs-collapse-toggle>Damavand (Iran)</a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="dropdown-header">MTB-Reisen</li>
                <li data-match-route="/exped/mtb-reise-ladakh">
                  <a href="#/exped/mtb-reise-ladakh" data-bs-collapse-toggle>Ladakh</a>
                </li>
                <li role="separator" class="divider"></li>
                <li data-bs-collapse-toggle><a href="#/exped">Alle Reisen</a></li>
              </ul>
            </li>
            <li class="dropdown" data-match-route="/contact|/impressum">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Extras <i class="fa fa-caret-down fa-fw"></i></a>
              <ul class="dropdown-menu">
                <li data-match-route="/impressum.*"><a href="#/impressum" data-bs-collapse-toggle>Impressum</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right pull-right">
            <li data-match-route="/login.*" ng-if="!globals.currentUser"><a href="#/login" data-bs-collapse-toggle>
              <i class="fa fa-sign-in fa-fw"></i> Anmelden</a></li>
            <li class="dropdown" data-match-route="/user.*|/cart.*" ng-if="globals.currentUser">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down fa-fw"></i></a>
              <ul class="dropdown-menu">
                <li data-match-route="/userhome.*"><a href="#/userhome" data-bs-collapse-toggle>
                  <i class="fa fa-user fa-fw"></i> <span ng-bind="globals.currentUser.username">Profil</span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/login" data-bs-collapse-toggle><i class="fa fa-sign-out fa-fw"></i> Abmelden</a></li>
              </ul>
            </li>
            <li ng-if="globals.currentUser">
              <a href=""
                 data-title="Warenkorb"
                 data-template-url="home/views/cart.tpl.html"
                 data-animation="am-slide-right"
                 bs-aside="aside"
                 data-container="body">
                <i class="fa fa-shopping-cart fa-fw"></i><span class="hidden-sm">Warenkorb</span></a>
            </li>
            <li><a href="#/home" data-bs-collapse-toggle><i class="fa fa-search fa-fw"></i> <span class="hidden-sm">Suche</span></a></li>
          </ul>

        </div><!-- /.navbar-collapse -->

      </div><!-- /.container -->
    </div>

    <div class='container'>
      <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
      <div data-ng-view>
    </div>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <ul class="list-unstyled list-inline list-social-icons">
              <li>Follow</li>
              <li><a title="Facebook / bergauf" href="http://www.facebook.com/bergauf" target="_blank"><i class="fa fa-facebook-square fa-lg"></i>Facebook</a></li>
              <li><a title="Twitter / bergauf" href="http://twitter.com/bergauf" target="_blank"><i class="fa fa-twitter-square fa-lg"></i>Twitter</a></li>
              <li><a title="Google+ / bergauf" href="https://plus.google.com/104173602900161889722?rel=author"  target="_blank"><i class="fa fa-google-plus-square fa-lg"></i>Google+</a></li>
              <li><a title="bergauf.ch News Feed" href="http://feeds.feedburner.com/bergauf" rel="alternate" type="application/rss+xml" target="_blank"><i class="fa fa-rss-square fa-lg"></i>News per Feed</a></li>
            </ul>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <p ng-controller="HomeCtrl as home">Copyright © <span ng-bind="home.currentDate | date:'yyyy'"></span> bergauf.ch&nbsp;&nbsp;&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="/images/icons/by-nc-80x15.png" width="80" height="15" /></a></p>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </footer>
    </div>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
